<!-- <div>
  <h1>

  </h1>
  <p appStyle="red" [dStyles]="{border:'1px solid blue', borderRadius:'5px' fontWeight='bold'}">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet dicta earum quas fugit eaque omnis voluptatem, fugiat consequuntur recusandae iure! Tempora, nemo beatae labore vero impedit accusamus maxime repudiandae debitis.</p>
  <p appStyle="blue" [dStyles]="{border:'1px solid red', borderRadius:'5px' fontWeight='bold'}">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet dicta earum quas fugit eaque omnis voluptatem, fugiat consequuntur recusandae iure! Tempora, nemo beatae labore vero impedit accusamus maxime repudiandae debitis.</p>
  <button (click)="isVisible=!isVisible"></button> -->
  <!-- <div *ngIf="isVisible">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum laborum omnis minus culpa eos aliquid voluptatum, nemo ducimus sed vero magnam, itaque provident voluptatem amet doloremque aperiam dolorum quibusdam doloribus.
  </p>
</div> -->
<!-- <div *appIfNot="!isVisible">
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum laborum omnis minus culpa eos aliquid voluptatum, nemo ducimus sed vero magnam, itaque provident voluptatem amet doloremque aperiam dolorum quibusdam doloribus.
</p>
</div>
<ng-template>
<div [appIfNot]="!isVisible">
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum laborum omnis minus culpa eos aliquid voluptatum, nemo ducimus sed vero magnam, itaque provident voluptatem amet doloremque aperiam dolorum quibusdam doloribus.
</p>
</div>
</ng-template>
</div> -->
<!-- <h1>Hello angular</h1>
<p>{{title}}</p>
<p><strong>{{number}}</strong></p>
<p><strong>{{arr}}</strong></p>
<p><strong>{{obj.b.c}}</strong></p>

<p><strong>{{"Hello"}}</strong></p>
<p><strong>{{40 + 2}}</strong></p> -->
<!-- <img [src]="img" > -->
<!-- <button (click)="onCLick()">Click me</button> -->
<!-- <input (input)="onInput($event)" type="text"> -->
<!-- <input #myInput (keyup.enter)="onInput($event)" (blur)="onBlur(myInput.value)" type="text">
<p><strong>{{inputValue}}</strong></p>
<hr>

<app-post></app-post>
<app-post></app-post>
<hr>
<app-post></app-post> -->
<!-- <h1>Hello angular</h1> -->
<!-- <input type="text" [(ngModel)]="title">
<p>{{title}}</p> -->
<!-- <button (click)="backgroundToggle=!backgroundToggle"></button> -->
<!-- <button (click)="toggle=!toggle"></button> -->

<!-- <div  [ngStyle]="{
width:'200px',
height:'200px',
borderRadius:'5px',
border:'1px solid #ccc',
background:backgroundToggle ? 'red' : 'blue'
}">

</div> -->
<!-- <p [ngClass]="{
  red:backgroundToggle,
  blue:!backgroundToggle
}">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo aspernatur nesciunt a cum delectus sunt, alias recusandae, vero, quia numquam vitae enim aliquam? Mollitia deleniti ratione inventore libero nam consequuntur.</p> -->
<!-- <p
[class.blue]="!backgroundToggle"
[class.red]="backgroundToggle"
>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo rem enim blanditiis atque id ex tempora, nisi pariatur veritatis molestiae autem nemo quidem commodi sequi adipisci dicta similique. Vero, laboriosam.</p> -->

<!-- <p *ngIf="toggle; else blueP" class="red">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. A quod in debitis repellat sunt ut ex rem cumque alias, deserunt maiores possimus corrupti est nostrum nam. Officiis natus sed error.
</p>
<ng-template #blueP>
  <p class="blue">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. A quod in debitis repellat sunt ut ex rem cumque alias, deserunt maiores possimus corrupti est nostrum nam. Officiis natus sed error.
  </p>


</ng-template> -->
<!-- <div [ng-switch]="toggle">
  <p *ngSwitchCase="true" class="red">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, eligendi tempore? Nobis est minima a excepturi pariatur! Labore inventore quis aut aperiam molestias assumenda recusandae saepe, ipsa repellat. Alias, tempora.</p>
  <p *ngSwitchCase="false" class="blue">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, eligendi tempore? Nobis est minima a excepturi pariatur! Labore inventore quis aut aperiam molestias assumenda recusandae saepe, ipsa repellat. Alias, tempora.</p>
  <p *ngSwitchDefault class="blue">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, eligendi tempore? Nobis est minima a excepturi pariatur! Labore inventore quis aut aperiam molestias assumenda recusandae saepe, ipsa repellat. Alias, tempora.</p>
</div> -->
<!-- <ul>
  <li *ngFor="let n of arr;let idx = index">
    {{idx}}<strong>{{n}}</strong>
  </li>
</ul> -->
<!-- <ul style="list-style:none">
  <li *ngFor="let post of objs">
    <p>{{post.title}}<b>{{post.author}}</b></p>
    <ul>
      <li *ngFor="let comment of post.commnets">
        <div>
          <small>{{comment.name}}</small>
          <p>{{comment.text}}</p>
        </div>
      </li>
    </ul>
  </li>
</ul> -->
<!-- <p>{{now | date:'long' | uppercase | lowercase}}</p> -->
<!-- <div>
  <h2>Subheader</h2>
</div>
<app-post-form (onAdd)="updatePosts($event)">

</app-post-form>
<hr>
<app-post
(onRemove)="removePost($event)"
[post]="post"
*ngFor="let pk of posts">
<div>
<small *ngIf="p.text.length > 10; else short">
  пост длинный
</small>
<ng-template #short>

  <small >
    пост короткий
  </small>
</ng-template>
</div>


</app-post>

</div> -->
<!-- <h1>Angular pipes</h1>
<p>{{e | number:'1.1-5'}}</p>
<p>{{e | number:'3.1-2'}}</p>
<p>{{e | number:'1.0-0'}}</p>

<p>{{str | uppercase}}</p>
<p>{{str | lowercase}}</p>
<p>{{str | lowercase | uppercase | titlecase}}</p>
<p>{{str | slice:1:-2}}</p>

<p>{{date | date:'fullDate'}}</p>

<p>{{float | currency}}</p>
<p>{{float | percent:'3.1-2'}}</p>

<p>{{obj | json}}</p>

<p>{{ 10 | mult:8 }}</p>

<p>{{'helo' | exMarks}}</p> -->

<!-- <div>
  <h1>angular</h1> -->
  <!-- <button (click)="searchField='title'"></button>
  <hr>
  <button (click)="addPost()>добавиь новый пост</button>
  <input [(ngModel)="search"]>
  <div *ngFor="let post of posts | filter:search:searchField">
    <h2>{{post.title}}</h2>
    <p>{{post.text}}</p>
  </div> -->
  <!-- <p>wait for it {{ p | async }}</p>
  <p>date {{ date | async }}</p> -->
  <!-- <div>
    <h2>App Counter {{appCounterService.counter}}</h2>
    <button (click)="appCounterService.increase()">+</button>
    <button (click)="appCounterService.decrease()">-</button>
  </div>
  <div>
    <h2>local Counter {{localCounterService.counter}}</h2>
    <button (click)="localCounterService.increase()">+</button>
    <button (click)="localCounterService.decrease()">-</button>
  </div>
  <hr>
  <app-counter></app-counter>
</div> -->
<!-- <form (ngSubmit)="submit()" [formGroup]="form">
  <input formControlName="email"> -->
  <!-- <pre>
    {{form.get('email').errors | json}}
  </pre> -->
  <!-- <div *ngIf="form.get('email').invalid && form.get('email').touched">
    <small *ngIf="form.get('email').errors.required">поле email не может быть пустым</small>
    <small *ngIf="form.get('email').errors.emailRestricted">email {{form.get('email')}} запрещен</small>
    <small *ngIf="form.get('email').errors.uniEmail">email {{form.get('email')}} занят</small>

  <small *ngIf="form.get('email').errors.email">введите коректный email</small>
  </div>
  <div *ngIf="form.get('password').invalid && form.get('password').touched"">
    <input formControlName="password" >
    <small *ngIf="form.get('password').errors.required">пароль не может быть пустым</small>

  <small *ngIf="form.get('password').errors.minLength">
    сейчас длина {{form.get('password').errors.minLength.actualLength}}
    длина должна быть не менее {{form.get('password').errors.minLength.requredLength}}</small>

</div>
<div formGroupName="address"></div>
  <select formControlName="country">
    <option>a</option>
    <option>b</option>
    <option>c</option>
  </select>



  <input formControlName="city">
  <button (click)="setCapital()">выбрать столицу</button>
</div>
  <div formGroupName="skills" *ngFor="let control of form.get('skills').controls;let inx=index">
    <label>умение {{idx + 1}}</label>
    <input [formControlName]="idx">
    <button (click)="addSkill()">добавить умение</button>
  <button [disabled]="form.invalid || form.pending" type="submit">отправить</button>
</div>
</form> -->

<!-- <div>
  <h1>
    ngmodels
  </h1>
  <app-switch [ngModelChange]="handleChange()" [(ngModel)]="appState"></app-switch>
</div> -->
<!-- <div class="container">
  <h1>Angular HttpClient</h1>

  <div class="card">
    <div class="form-control">
      <input type="text"  [(ngModel)]="todoTitile" placeholder="Название">
    </div>
    <button class="btn" (click)="addTodo()">Добавить</button>
    <button class="btn" (click)="fetchTodos()">Загрузить</button>
  </div>

  <hr>

  <div class="card">
    <p>
      <span class="completed">Название</span>
      <span>
        <button class="btn btn-danger">Удалить</button>
        <button class="btn">Завершить</button>
      </span>
    </p>

  </div>
  <p *ngIf="error; else todosBlock">{{error}}</p>
  <ng-template #todosBlock>


  <div *ngIf="!loading; else loadingBlock">
    <div *ngIf="todos.length; else noTodos">
  <div class="card" *ngFor="let todo of todos">
    <p>
      <span [class.completed]="todo.completed">{{todo.title | titlecase}</span>
      <span>
        <button class="btn btn-danger" (click)="removeTodo(todo.id)">Удалить</button>
        <button class="btn" [disabled]="todo.completed" (click)="completeTodo(todo.id)">Завершить</button>
      </span>
    </p>
  </div>
</div>
<ng-template #noTodos>
  <p>нет элементов</p>
</ng-template>
</div>
<ng-template #loadingBlock>
  <p>Loading...</p>
</ng-template>
</ng-template>
</div> -->
<!-- <nav class="navbar">
  <h1>
    <a [routerLink]="['/']">Angular Routing</a>
  </h1>
  <ul>
    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="active">
      <a [routerLink]="['/']">Home</a>
    </li>
    <li routerLinkActive="active"><a routerLink="/posts">Posts</a></li>
    <li routerLinkActive="active"><a [routerLink]="['/about']">About</a></li>
    <li><button class="btn" (click)="auth.login()">Login</button></li>
    <li><button class="btn" (click)="auth.logout()">Logout</button></li>
  </ul>
</nav>

<div class="container">
  <div class="card">
    <router-outlet></router-outlet>
  </div>
</div> -->

<!-- <nav class="navbar">
  <h1>Angular Modules</h1>

  <ul>
    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/">Home</a></li>
    <li routerLinkActive="active"><a routerLink="/about">About</a></li>
  </ul>
</nav>

<div class="container">
  <div class="card">

    <router-outlet></router-outlet>

  </div> -->
<!-- </div> -->
<ng-template appRef>

</ng-template>
<nav><h1>anlular dynamic components</h1></nav>
<div>
  <div>
    <h1>
      some component
    </h1>
    <button (click)="showModal()">
      show modal
    </button>
    <!-- <app-modal *ngIf="modal" title="Modal window" (close)="modal=false"></app-modal> -->
  </div>
</div>







